*{
    margin:0;
    padding: 0;
    font-family: $sans-serif;
}

.display-block{
    display: block;
}

.negrita{
    font-weight: bold;
}

.italica{
    font-style: italic;
}

main{
    max-width: 1200px;
    margin: 0 auto 70px auto ;
}

.flecha-arriba{
    color: $rosa-oscuro;
    font-size: 50px;
    position: fixed;
    top: 65vh;
    right: 35px;
}

@media (max-width: 860px){
    .flecha-arriba{
        display: none;
    }
}