*{
    margin:0;
    padding: 0;
    font-family: $sans-serif;
}

.display-block{
    display: block;
}

.negrita{
    font-weight: bold;
}

.italica{
    font-style: italic;
}

main{
    max-width: 1200px;
    margin: auto;
}