#mision{
    background-image: linear-gradient(to right, $blanco 25%, $gris 25%);
    margin: 30px 0;

    .mision__container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px;

        .mision__img{
            height: 520px;
            width: 360px;
            overflow: hidden;
            border: 15px solid $blanco;
            img{
                width: 100%;
            }
        }
        .mision__textcontainer{
            display: flex;
            flex-direction: column;
            height: 520px;
            justify-content: space-around;
            .mision__texto{
                max-width: 470px;
                padding: 10px;
            }
            .mision__titulo{
                background-color: $rosa-resalta;
                width: 335px;
                color: white;
                font-size: 26px;
                font-weight: lighter;
                padding: 10px;
                box-shadow:  5px 5px 0 0 $rosa;
                position: relative;
                left: -75px;
                top: 9px;
            }
        }
    }
}