.footer{
    background-color: $rosa-oscuro;
    p{
        color: white;
        text-align: center;
        padding-top: 20px;
    }
    div{
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 20px;
            li{
                margin: 0 30px;
                padding: 10px;
                a{
                    i{
                        color: white;
                        font-size: 35px;
                    }
                }
            }
        }
    }
    .copy{
        padding: 20px 0;
        text-align: center;
        color: $blanco;
        a{
            color: $blanco;
        }
    }
}