.servicios{
    background-image: linear-gradient(to left, $blanco 35%, $gris 25%);
    margin: 30px 0;
    color: $gris-texto-mediano;
    h3{
        text-align: center;
        font-family: $serif;
        color: $marron-titulo;
        font-weight: lighter;
        font-size: 36px;
        padding: 20px 0 0 0;
    }
    &__container{
        display: flex;
        justify-content: space-around;
        ul{
            padding-top: 40px;
            list-style: none;
            .item-container{
                display: flex;
                margin: 15px;
                li{
                    margin-left: 40px;
                }
                .list-style{
                    width: 5px;
                    height: 5px;
                    background-color: $blanco;
                    border: solid 6px $rosa-resalta;
                    border-radius: 50%;
                }
            }
            .item-resaltado{
                background-color: $rosa-resalta;
                margin: 15px;
                padding: 10px;
                position: relative;
                width: 300px;
                h4{
                    color: white;
                    font-weight: lighter;
                    text-align: center;
                }
            }
            .resalta1{
                left: 75%;
                margin-top: 60px;
            }
            .resalta2{
                left: 60%;
            }
        }
    }
    &__img{
        max-width: 360px;
        overflow: hidden;
        border: 15px solid $blanco;
        img{
            width: 100%;
        }
    }
}

@media (max-width:750px){
    .servicios{
        background-image: linear-gradient(to left, $gris, $gris);
        padding-bottom: 20px;
        &__container{
            ul{
                padding-top: 0;
                .resalta1, .resalta2{
                    margin: 5px auto;
                    left: 0;
                }
            }
        }
        &__img{
            height: 100%;
            max-width: 220px;
            border: 5px solid $blanco;
        }
    }
}

@media (max-width: 580px){
    .servicios{
        &__img{
            display: none;
        }
    }
}